html, body, .container-fluid, .row, div[role="main"] {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif; /* Example using Inter */
  /* Or */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

h2 {
    color: #1f8f43;
    margin: 12px 16px 14px 16px;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif; /* example of using a different font for headings */
}
.button, .buttons > button   {
    margin: 2px 0 8px 0;
    padding: 12px 12px 12px 12px;
    width: 100%;
}

DIV.form-group {
/*    margin-bottom: 6px; */
}

HR.separator {
      background-image: linear-gradient(to right, #DDD, #CCD, #DDD);
      border: none; /* Remove default border */
      height: 4px; /* Set the height of the line */
}

DIV.mainpanel {
    height: 100%;
    background-color: #F6F6F6;
}

.card-header {
    font-size: 1.3em;
    margin: 6px 2px 8px 0;
    font-weight: bold;
}
.filter-controls, .well {
    margin-bottom: 12px;
    background-color: #EED;
    border-radius: 8px;
    padding: 12px;
}