html, body, .container-fluid, .row, div[role="main"] {
  height: 100%;
  margin: 0;
}

.button, .buttons > button   {
    margin: 2px 0 8px 0;
    padding: 12px 12px 12px 12px;
    width: 100%;
}

DIV.form-group {
/*    margin-bottom: 6px; */
}

HR.separator {
      background-image: linear-gradient(to right, #DDD, #CCD, #DDD);
      border: none; /* Remove default border */
      height: 4px; /* Set the height of the line */
}

DIV.mainpanel {
    height: 100%;
    background-color: #F6F6F6;
}

.card-header {
    font-size: 1.3em;
    margin: 6px 2px 8px 0;
    font-weight: bold;
}
.filter-controls, .well {
    margin-bottom: 12px;
    background-color: #EED;
    border-radius: 8px;
    padding: 12px;
}